# Lab-comparing-regression-models

In [16]:
import math
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [11]:
# Instructions
# 1. Concatenate Numerical and Categorical dataframes into one dataframe called data.

# 2. In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

# 3. Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

# 8. Try a simple linear regression with all the data to see whether we are getting good results.

# 9. Great! Now define a function that takes a list of models and train (and tests) them so we can try a lot of them without repeating code.

# 10. Use the function to check LinearRegressor and KNeighborsRegressor.

# 11. You can check also the MLPRegressor for this task!

# 12. Check and discuss the results.

In [12]:
X = pd.read_csv('cat_num.csv',index_col=0)
y = pd.read_csv('total_claim_amount.csv', index_col=0)
X = X.drop(['day', 'month', 'year'], axis=1)
print(X.shape)
X.head()

(7261, 43)

,0,1,2,3,4,5,6,coverage,employmentstatus,location_code,...,renew_offer_type_Offer3,renew_offer_type_Offer4,sales_channel_Agent,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Four-Door Car,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car
0,-1.061661,0.576306,-0.769856,1.691296,-1.539658,-0.421835,-0.821412,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2.370772,0.329297,1.051940,0.295717,-0.360311,-0.421835,-0.349518,2.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.593659,-1.275324,0.958514,0.295717,0.604609,-0.421835,2.009955,0.0,4.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,-1.044650,0.167048,-0.583005,-0.302389,-0.145885,-0.421835,-0.821412,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.800622,0.794392,-0.769856,-0.103020,1.641005,-0.421835,-0.349518,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [13]:
print(y.shape)
y.head()

(7261, 1)

   total_claim_amount
0          384.811147
1          566.472247
2          529.881344
3          138.130879
4          159.383042

In [14]:
# 3. Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100)

In [20]:
# 8. Try a simple linear regression with all the data to see whether we are getting good results.
lr = LinearRegression()
model = lr.fit(X_train, y_train)
predictions = lr.predict(X_test)
r2_score(y_test, predictions)

0.5088840039498896

In [21]:
# 9. Great! Now define a function that takes a list of models and train (and tests) them
# so we can try a lot of them without repeating code.
# 10. Use the function to check LinearRegressor and KNeighborsRegressor.
# 11. You can check also the MLPRegressor for this task!

def train_test(X, y, test_size=0.5, random_state=100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size,random_state=random_state)
    return X_train, y_train, X_test, y_test

def linear_regression(X_train, y_train):
    lr = LinearRegression(fit_intercept=True)
    model = lr.fit(X_train,y_train)
    return model

def knn_regression(X_train, y_train, k_value):
    kr = KNeighborsRegressor(n_neighbors=k_value)
    kmodel = kr.fit(X_train, y_train)
    return kmodel

def model_metrics(X_test, y_test, model):
    y_pred = model.predict(X_test)
    r2 = r2_score(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    rmse = math.sqrt(mse)
    mae = mean_absolute_error(y_test, y_pred)
    print('R2 Score: {:.3f}'.format(r2), '\nMean Squared Error: {:.3f}'.format(mse), '\nRoot MSE: {:.3f}'.format(rmse), '\nMean Absolute Error: {:.3f}'.format(mae) )

In [29]:
# Linear Model 1:

X_train, y_train, X_test, y_test = train_test(X, y, test_size=0.5, random_state=50)
lm_1 = linear_regression(X_train, y_train)
model_metrics(X_test,y_test,lm_1)

R2 Score: 0.526
Mean Squared Error: 19209.698
Root MSE: 138.599
Mean Absolute Error: 110.664

In [27]:
# Linear Model 2:

X_train, y_train, X_test, y_test = train_test(X, y, test_size=0.5, random_state=100)
lm_2 = linear_regression(X_train, y_train)
model_metrics(X_test,y_test,lm_2)

R2 Score: 0.514
Mean Squared Error: 18890.993
Root MSE: 137.445
Mean Absolute Error: 109.165

In [30]:
# KNN Model 1:

X_train, y_train, X_test, y_test = train_test(X, y, test_size=0.5, random_state=50)
knn_1 = knn_regression(X_train, y_train, 2)
model_metrics(X_test,y_test,knn_1)

R2 Score: 0.424
Mean Squared Error: 23310.024
Root MSE: 152.676
Mean Absolute Error: 107.484

In [31]:
# KNN Model 2:

X_train, y_train, X_test, y_test = train_test(X, y, test_size=0.5, random_state=50)
knn_2 = knn_regression(X_train, y_train, 5)
model_metrics(X_test,y_test,knn_2)

R2 Score: 0.519
Mean Squared Error: 19479.592
Root MSE: 139.569
Mean Absolute Error: 104.344

In [32]:
# KNN Model 3:

X_train, y_train, X_test, y_test = train_test(X, y, test_size=0.5, random_state=50)
knn_3 = knn_regression(X_train, y_train, 10)
model_metrics(X_test,y_test,knn_3)

R2 Score: 0.524
Mean Squared Error: 19267.412
Root MSE: 138.807
Mean Absolute Error: 106.356

In [ ]:
# 12. Check and discuss the results.

# Overall, based on the metric provided, the Linear Regression model performs slightly better than the KNN model in predicting the 'total_claim_amount'. However, the difference in performance is not very large.